html{
    font-size: 62.5%;
    background-color: #B5CDDE;
}
  
.Root {
    width: 144rem;
    margin: 0;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.Conteudo {
    width: 1392px;
    height: 700px;
    background-color: #F2F2F2;
    margin-top: 60px;
    margin-left: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow:0px 5px 10px #888888;
}

.Titulo {
    font-size: 2rem;
    font-weight: 500;
    padding: 20px;
}

.Alinhamento {
    padding-left: 42px;
    padding-top: 36px;
}

.Form {
    margin: 30px;
    background-color: white;
    width: 1300px;
    height: 480px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #888888;
    padding-left: 42px;
    padding-top: 16px;
}

::-webkit-input-placeholder  { 
    color:#888888;
    font-size: 16px;
    margin-left: 14px;
    padding-left: 10px;
}

input:focus {
    border-color: #ECCD2E;
    outline: none;
}

input {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #888888;
}

.Servico {
    width: 700px;
    height: 32px;
}

.DataI, .DataF {
    width: 200px;
    height: 32px;
    margin-left: 24px;
}

.Descricao {
    width: 600px;
    height: 240px;
    margin-top: 24px;
}

.LinhaFormCheck {
    display: flex;
    flex-direction: row;
}

.Ckecks {
    width: 400px;
    padding-top: 24px;
    padding-left: 48px;
    display: flex;
    flex-direction: row;
}

.Cabecalho {
    display: flex;
    flex-direction: row;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 24px;
}

.lista {
    display: flex;
    flex-direction: row;
}

h2 {
    text-align: center;
    padding-left: 8px;
}

.Botoes{
    margin-left: 300px;
}

.Botao {
    background-color: #ECCD2E;
    color: #917E1C;
    width: 160px;
    height: 42px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
    margin-left: 640px;
    margin-top: 180px;
}

.Botao:hover {
    background-color: #917E1C;
    color: #ECCD2E;
}